*,
*::before,
*::after {
    padding: 0;
    box-sizing: border-box;
}

html, body {
    min-height: 100vh;
}

body {
    margin: 20px 16px 120px;
}

.wrapper {
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
}

